body {
	background-color: #181818;
}

.container {
	max-width: 930px;
	margin: 0 auto;
	margin-top: 80px;
}

.header {
	padding: 0 70px;
}

.title {
	display: inline;
	padding: 5px 23px;
	font-size: 15px;
	line-height: 17px;
	background: #6532F8;
	border: 1px solid #6532F8;
	border-radius: 200px;
}

.year {
	display: inline;
	padding: 5px 23px;
	font-size: 15px;
	line-height: 17px;
	background: #6532F8;
	border: 1px solid #6532F8;
	border-radius: 200px;
}

.label {
	margin-top: 10px;
	margin-bottom: 25px;
	font-size: 120.416px;
	line-height: 138px;
}

.movie-list-wrapper {
	padding: 60px 70px;
	background: #232323;
	border-radius: 20px;
}

.input-wrapper {
	display: flex;
	align-items: end;
	margin-bottom: 40px;
}

.movie-input {
	font-size: 30px;
	line-height: 55px;
	color: #F3F6F9;
	max-width: 411px;
	width: 100%;
	border-bottom: 1px solid #F3F6F9;
	margin-right: 20px;
}

.error-output {
	color: red;
	font-size: 20px;
	height: 25px;
	opacity: 0;
	margin-bottom: 15px;
}

.visible {
	opacity: 1;
}

.error-output.visible {
	animation: hide 4s ease forwards;
}

/* анимация исчезновения */
@keyframes hide {
	0% {
		opacity: 0;
	}

	10% {
		opacity: 1;
	}

	90% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.new-movie-btn {
	background: #6532F8;
	padding: 15px;
	border-radius: 30px;
}

.movie-list {
	display: flex;
	justify-content: space-between;
	align-items: start;
	flex-direction: column;
	gap: 3px;
	max-height: 359px;
	overflow: scroll;
}

/* Элемент Фильм */
.movie {
	border-radius: 10px;
	padding: 28px 20px;
	background: #3A3939;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}

.check-btn {
	margin-right: 20px;
	cursor: pointer;
}

.movie-label {
	font-size: 20px;
	font-weight: 400;
	line-height: normal;
	letter-spacing: -0.4px;
	word-break: break-all;
}

.movie-delete-btn {
	flex-shrink: 0;
	cursor: pointer;
}

/* checkbox, стили, адаптированные под сайт */

.movie {
	--background: #303952;
	--text: #ffffff;
	--check: #cc29f0;
	--disabled: #87808e;
	--width: 100%;
	--height: 180px;
	--border-radius: 10px;
	padding: 28px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	background: var(--background);
	width: var(--width);
	border-radius: var(--border-radius);
	position: relative;
	box-shadow: 0 10px 30px rgba(65, 72, 86, 0.05);
}

.movie label {
	font-size: 20px;
	font-weight: 400;
	line-height: normal;
	letter-spacing: -0.4px;
	word-break: break-all;
	margin-left: 10px;
	color: var(--text);
	position: relative;
	cursor: pointer;
	transition: color 0.3s ease;
}

.movie label::before,
.movie label::after {
	content: "";
	position: absolute;
}

.movie label::before {
	height: 2px;
	width: 8px;
	top: 10px;
	left: -27px;
	background: var(--check);
	border-radius: 2px;
	transition: background 0.3s ease;
}

.movie label:after {
	height: 4px;
	width: 4px;
	top: 8px;
	left: -23px;
	border-radius: 50%;
}

.movie input[type="checkbox"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	position: relative;
	height: 15px;
	width: 15px;
	outline: none;
	border: 0;
	margin: 0 15px 0 0;
	cursor: pointer;
	background: var(--background);
}

.movie input[type="checkbox"]::before,
.movie input[type="checkbox"]::after {
	content: "";
	position: absolute;
	height: 2px;
	top: auto;
	background: var(--check);
	border-radius: 2px;
}

.movie input[type="checkbox"]::before {
	width: 0px;
	right: 60%;
	top: 8px;
	left: 20px;
	transform-origin: right bottom;
}

.movie input[type="checkbox"]::after {
	width: 0px;
	left: 40%;
	top: 8px;
	left: 25px;
	transform-origin: left bottom;
}

.movie input[type="checkbox"]:checked::before {
	animation: check-01 0.4s ease forwards;
}

.movie input[type="checkbox"]:checked::after {
	animation: check-02 0.4s ease forwards;
}

.movie input[type="checkbox"]:checked+label {
	color: var(--disabled);
	text-decoration: line-through;
	transition: text-decoration 0.3s;
	animation: move 0.3s ease 0.1s forwards;
}

.movie input[type="checkbox"]:checked+label::before {
	background: var(--disabled);
	animation: slice 0.4s ease forwards;
}

.movie input[type="checkbox"]:checked+label::after {
	animation: firework 0.5s ease forwards 0.1s;
}

@keyframes move {
	50% {
		padding-left: 8px;
		padding-right: 0px;
	}

	100% {
		padding-right: 4px;
	}
}

@keyframes slice {
	60% {
		width: 0%;
		left: 4px;
	}

	100% {
		width: 0%;
		left: -2px;
		padding-left: 0;
	}
}

@keyframes check-01 {
	0% {
		width: 4px;
		top: auto;
		transform: rotate(0);
	}

	50% {
		width: 0px;
		top: auto;
		transform: rotate(0);
	}

	51% {
		width: 0px;
		top: 8px;
		transform: rotate(45deg);
	}

	100% {
		width: 5px;
		top: 8px;
		transform: rotate(45deg);
	}
}

@keyframes check-02 {
	0% {
		width: 4px;
		top: auto;
		transform: rotate(0);
	}

	50% {
		width: 0px;
		top: auto;
		transform: rotate(0);
	}

	51% {
		width: 0px;
		top: 8px;
		transform: rotate(-45deg);
	}

	100% {
		width: 10px;
		top: 8px;
		transform: rotate(-45deg);
	}
}

@keyframes firework {
	0% {
		opacity: 1;
		box-shadow: 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0;
	}

	30% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		box-shadow: 0 -15px 0 0px #4f29f0, 14px -8px 0 0px #4f29f0, 14px 8px 0 0px #4f29f0, 0 15px 0 0px #4f29f0, -14px 8px 0 0px #4f29f0, -14px -8px 0 0px #4f29f0;
	}
}

/* checkbox */


/* Стиль перечеркивания */
/* .check-btn:checked+.movie-label {
	text-decoration: line-through;
} */

@media (max-width: 758px) {
	.container {
		/* max-width: 930px; */
		max-width: 100%;
		width: 100%;
		margin: 0 auto;
		margin-top: 40px;
		padding: 0 5px;
	}

	.header {
		padding: 0 30px;
	}

	.label {
		margin-top: 10px;
		margin-bottom: 25px;
		font-size: 60px;
		line-height: 78px;
	}

	.input-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: end;
		margin-bottom: 30px;
	}

	.movie-input {
		font-size: 23px;
		line-height: 36px;
		margin-right: 10px;
		max-width: 100%;
	}

	.movie-list-wrapper {
		padding: 10px 10px;
		background: #232323;
		border-radius: 20px;
	}

	.movie-list {
		display: flex;
		justify-content: space-between;
		align-items: start;
		flex-direction: column;
		width: 100%;
		gap: 3px;
	}

	.movie__label {
		max-width: 80%;
	}
}